.tech-group > div {
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
}

.tech-group span {
    padding: 14px 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .tech-group > div {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
